body {
    background-color: rgb(220, 255, 239);
}

h1 {
    text-align: center;
}

#encabezado {
    font-weight: 530;
    font-size: 20px;
    text-align: center;
    line-height: 30px;/* interlinado */
}

.flex-container {

    border: solid rgb(16, 236, 12);
    background: rgb(252, 252, 246);/* fondo*/
    padding: 20px;/* para separar las cajas de los bordes*/
    display: flex;/* organizacion de las cajas*/
    flex-flow: row wrap;/* */
    width: 80%;/* ancho del contenedor*/
    margin: 0 auto;/* margen de la pagina*/
    justify-content: center;/* la posicion de las cajas*/

}

.caja {
    border: 1px solid rgb(0, 146, 15);
    background-color: rgb(196, 253, 213);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 430px; /* tamaño */
    height: 330px;/* altura */
    line-height: 30px ;/* para sentrar y alinear */
    text-align: center;/* para sentrar texto */
    margin: 5px;
    padding: 10px;
    display: grid;
    place-content: center;
}

button {
    height: 40px;
    width: 100px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #00eb4a;
    place-self: center; /*centrar boton*/
    
}

dialog {
    border: none;
    color: black;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #03ca59;

     flex-direction: column;/*centar*/
     align-items: justify;
    justify-content: center; 
}

button:hover {
    background: #65fc86;
    color: white;
}

span {
    color: #0d0ddf;
    text-align:  justify;
}

.ejercicio{
    text-align:  justify;
}

input::placeholder {
    text-align: center; /* Centra horizontalmente el texto del placeholder */
    text-align-last: center; /* texto del placeholder esté centrado */
  }